<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>

<% if user_signed_in? %>
  <div>
    <%= form_with(model: Photo.new, url: photos_path, local: true, html: { enctype: "multipart/form-data" }) do |form| %>

        <div>
          <%= form.label :pic, "Image" %>
          <%= form.file_field :pic, required: true %>
        </div>

        <div>
          <%= form.label :cap, "Caption" %>
          <%= form.text_field :cap, required: true, placeholder: "Enter Caption" %>
        </div>
        <div>
          <button type="submit">Add photo</button>
        </div>

      </div>
    <% end %>
  </div>
<% end %>

<div>
  <div>
    <table border="2">
      <tr>
        <th>
          Image
        </th>
        <th>
          Caption
        </th>
        <th>
          Owner
        </th>
        <th>
          Posted
        </th>

        <th>
          Likes
        </th>
        <th>
        </th>
      </tr>

      <% @public_photos.each do |photo| %>
      <tr>
        <td>
          <%= image_tag(photo.image.url, alt: "Photo", width: 370) if photo.image.present? %>
        </td>
        <td>
          <%= photo.caption %>
        </td>
        <td>
          <%= photo.owner.username %>
        </td>

        <td>
          <%= time_ago_in_words(photo.created_at) %> ago
        </td>        
        <td>
          <%= photo.likes_count %>
        </td>
        <td>
          <% if user_signed_in? %>
            <%= link_to "Show details", photo_path(photo.id) %>
          <% else %>
            <%= link_to "Show details", new_user_session_path, class: "btn btn-primary" %>
           <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
